.cart-list {
    margin: 10px 0;
    .middle-item {
        margin: 0 10px;
        width: 40%;
    }

    .remove {
        margin-top: 10px;
    }
}

.price {
    font-size: 1.5em;
}

.cart-footer {
    margin: 15px 0;
    font-size: 1.5em;
}

.ver-middle {
    margin-top: auto;
    margin-bottom: auto;
}